body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #ddd;
}

/* NAVBAR */

nav {
    display: flex;
    background-color: #272829;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

.logo img {
    height: 50px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-items a {
    text-decoration: none;
    color: #ddd;
    transition: all 0.2s ease;
    padding: 5px 10px; /* Adjust padding as needed */
    display: inline-block;
}

.nav-items a:hover{
    color: #FD8D14;
    transform: scale(1.25);
    font-weight: bold;
}

/* USER CHOICE */

.user-choice {
    display: flex;
    flex-direction: column;
    background-color: #61677A;
    padding: 25px 100px;
    text-align: center;
    color: #ddd;
}

.user-choice button {
    background-color: #949AAE;
    border: none;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.user-choice button:active{
    transform: scale(0.85);
    border: 3px solid white;
}
button img {
    width: 100px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* GAME MODE */

.game-mode {
    display: flex;
    padding: 20px 100px;
    background-color: #61677A;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.game-mode img {
    width: 175px;
    background-color: #949AAE;
    padding: 20px;
    border-radius: 10px;
}

.versus img {
    width: 100px;
    padding-top: 40px;
    background-color: transparent;
}

.game-user,
.game-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scorecard {
    text-align: center;
    background-color: #61677A;
    margin: 0;
    padding: 0;
    font-family: 'Handjet', cursive;
    font-size: 3rem;
}

.game-mode p{
    font-weight: 600;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #272829;
    padding: 10px 100px;
}

footer img{
    width: 25px;
    height: 25px;
    transition: all 0.2s ease;
}

footer img:hover{
    transform: scale(1.5);
}

/* MISC */

.border-green{
    border: 3px solid #00FF00;
}

.border-red{
    border: 3px solid #FF0000;
}

.border-none{
    border: none;
}